<script>
  import REPLWrapper from '../../components/REPLWrapper.svelte'
  import appSource from './appSource.js'

  const replFiles = [
    {
      id: 0,
      name: 'App',
      type: 'svelte',
      source: appSource
    }
  ]
</script>

<REPLWrapper {replFiles} /> 
