<script>
  import '../app.css'
  import '../prism.css'
  import Nav from '../components/Nav.svelte'
</script>

<svelte:head>
	<title>Florence: A grammar of graphics, built on Svelte's template syntax.</title>
</svelte:head>

<Nav />

<main class='main-body'>
	<slot></slot>
</main>