<script>
  import { Graphic, PointLayer } from '@snlab/florence'
</script>

<Graphic width={200} height={200}>
  <PointLayer
    x={[0, 0, 1, 1, 0.5]}
    y={[0, 1, 1, 0, 0.5]}
    fill={['red', 'blue', 'green', 'orange', 'purple']}
    radius={30}
  />
</Graphic>
