<script>
  import { Graphic, Point } from "@snlab/florence";

  const points = new Array(5).fill(0).map((_) => ({
    x: Math.round(Math.random() * 10),
    y: Math.round(Math.random() * 10),
  }));

  $: center = {
    x: points.map((p) => p.x).reduce((a, c) => a + c) / points.length,
    y: points.map((p) => p.y).reduce((a, c) => a + c) / points.length,
  };

  function drag({ dragType, localCoordinates }, index) {
    if (dragType === "drag") {
      points[index] = localCoordinates;
    }
  }
</script>

<Graphic
  width={300}
  height={300}
  backgroundColor="#b2ffb2"
  scaleX={[0, 10]}
  scaleY={[0, 10]}
  padding={20}
>
  {#each points as point, i}
    <Point {...point} radius={10} onMousedrag={(e) => drag(e, i)} />
  {/each}
</Graphic>
