<script>
  import { Graphic, Section, Point, PointLayer } from '@snlab/florence'
</script>

<Graphic width={500} height={300}>

  <Section x1={0} x2={0.5} scaleX={[0, 10]} scaleY={[0, 10]}>

    <Point x={() => 0.2} y={() => 0.2} />
    <Point x={() => 0.5} y={() => 0.5} />
    <Point x={() => 0.8} y={() => 0.8} />

  </Section>

  <Section x1={0.5} x2={1} scaleX={[0, 10]} scaleY={[0, 10]}>
  
    <PointLayer x={() => [0.2, 0.5, 0.8]} y={() => [0.2, 0.5, 0.8]} />

  </Section>

</Graphic>
