<script>
  import { Graphic, Section, Point } from '@snlab/florence'
  import { scaleLinear } from 'd3-scale'
</script>

<Graphic
  width={500}
  height={500}
  padding={20}
>

  <Section 
    y1={0}
    y2={0.5}
    scaleX={[0, 10]}
    scaleY={[0, 10]}
    backgroundColor={'#ffcccb'}
  >

    <Point x={5} y={5} radius={10} fill="red" />

    <Section 
      x1={0}
      x2={5}
      y1={0}
      y2={5}
      scaleX={[0, 10]}
      scaleY={[0, 10]}
      backgroundColor={'#bcf5bc'}
    >

      <Point x={5} y={5} radius={10} fill="green" />
    
    </Section>
  
  </Section>

  <Section 
    y1={0.5}
    y2={1}
    scaleX={[50, 60]}
    scaleY={[50, 60]}
    backgroundColor={'#add8e6'}
  >

    <Point x={55} y={55} radius={10} fill="blue" />
  
  </Section>

</Graphic>