<script>
  import { Graphic, Section, Rectangle } from '@snlab/florence'
</script>

<Graphic 
  width={200}
  height={200}
  backgroundColor="blue"
>
  <Section padding={25}>
    <Rectangle x1={0} x2={1} y1={0} y2={1} fill="red" />
  </Section>
</Graphic>