<script>
  import { 
    Graphic, LineLayer, RectangleLayer, polar, cartesian
  } from '@snlab/florence'

  let transformation = 'identity'
  $: coordinates = transformation === 'identity' ? cartesian() : polar()
</script>

<div>
  <label for="coordinate-select">Coordinates:</label>
  <select name="coordinate-select" bind:value={transformation}>
    <option value="identity">Identity</option>
    <option value="polar">Polar</option>
  </select>
</div>

<Graphic width={500} height={500} {coordinates} backgroundColor={'#f3f3f3'}>
  <RectangleLayer
    x1={[0, 0.5]}
    x2={[0.25, 0.75]}
    y1={[0, 0]}
    y2={[1, 1]}
    fill={['red', 'blue']}
    opacity={0.2}
  />
  <LineLayer
    x={[[0, 0, 0.25, 0.25, 0], [0.5, 0.5, 0.75, 0.75, 0.5]]}
    y={[[0, 1, 1, 0, 0], [0, 1, 1, 0, 0]]}
    stroke={['red', 'blue']}
    strokeWidth={5}
  />
</Graphic>