<script>
  import { Graphic, PointLayer } from '@snlab/florence'
  import { scaleLinear } from 'd3-scale'

  const points = { x: [0, 5, 10], y: [0, 5, 10] }
</script>

<Graphic 
  width={200}
  height={200}
  scaleX={scaleLinear().domain([0, 10])}
  scaleY={scaleLinear().domain([0, 10])}
  backgroundColor="#b2ffb2"
>

  <PointLayer x={points.x} y={points.y} radius={10} fill="red" />

</Graphic>