<script>
  import { Graphic, polar, RectangleLayer } from '@snlab/florence'
</script>

<Graphic width={200} height={200} coordinates={polar()}>
  <RectangleLayer
    x1={[0, 0.3, 0.7, 0.85]}
    x2={[0.3, 0.7, 0.85, 1]}
    fill={['#c84669', '#388077', '#92d82b', '#20609b']}
  />
</Graphic>