<script>
  import {
    Graphic, 
    Rectangle, 
    XAxis,
    YAxis,
  } from '@snlab/florence' 
</script>

<Graphic 
  width={500}
  height={500}
  backgroundColor="#b2ffb2"
  scaleX={[0, 4]}
  scaleY={[0, 4]}
  padding={50}
  zoomable
  pannable
  zoomPanSettings={{
    viewportFence: {
      left: { x: -2, y: 0 },
      right: { x: 6, y: 0 },
      top: { x: 0, y: -2 },
      bottom: { x: 0, y: 6 }
    }
  }}
>

  <Rectangle x1={0} x2={2} fill="blue" opacity={0.3} />
  <Rectangle x1={2} x2={4} fill="red" opacity={0.3} />

  <XAxis />
  <YAxis />

</Graphic>
