<script>
  import { Graphic, Rectangle, identity } from '@snlab/florence'
</script>

<Graphic
  width={300}
  height={300}
  scaleX={identity}
  scaleY={identity}
>
  <Rectangle x1={0} x2={150} fill={'red'} />
  <Rectangle x1={150} x2={300} fill={'green'} />
</Graphic>