<script>
  import { Graphic, Glyph, polar, RectangleLayer } from '@snlab/florence'

  const glyphs = Array(50).fill(0).map(() => ({
    x: Math.random(),
    y: Math.random(),
    radius: Math.random() * 20
   }))
</script>

<Graphic width={200} height={200} backgroundColor={'#f3f3f3'}>
  {#each glyphs as {x, y, radius}}
    <Glyph 
      {x} {y} width={radius} height={radius}
      coordinates={polar()}
    >
      <RectangleLayer 
        x1={[0, 0.3, 0.7, 0.85]}
        x2={[0.3, 0.7, 0.85, 1]}
        fill={['#c84669', '#388077', '#92d82b', '#20609b']}
      />
    </Glyph>
  {/each}
</Graphic>