<script>
  import { Graphic, Rectangle, Grid } from '@snlab/florence'

  const colors = ['red', 'blue', 'green', 'orange', 'yellow', 'purple']
  let columns = 2
</script>

<div>
  <label for="cols-slider">Columns:</label>
  <input type="range" min="1" max="3" bind:value={columns} name="cols-slider" />
</div>

<Graphic width={200} height={200}>

  <Grid numberOfCells={colors.length} {columns} let:cells>

    {#each colors as color, i}
      <Rectangle {...cells[i]} fill={color} />

    {/each}

  </Grid>

</Graphic>
