<script>
  import { Graphic, Section } from '@snlab/florence'
</script>

<Graphic width={200} height={200} backgroundColor={'blue'}>
  
  <Section 
    x1={0.25}
    x2={0.75}
    y1={0.25}
    y2={0.75}
    backgroundColor={'green'}
  >
  
  </Section>

</Graphic>
