<script>
  export let caption
  export let slug

  let imageURL = `/thumbnails/${slug}.png`
</script>

<style>
  img {
    max-height: 275px;
  }
</style>

<div class="p-1 flex flex-col justify-between">
  <a href={`/examples/${slug}`}>
    <img src={imageURL} alt={caption} id={slug}>
    <label for={slug} class="mt-1">{caption}</label>
  </a>  
</div>
