<script>
import REPLWrapper from './REPLWrapper.svelte'
import { onMount } from 'svelte'

export let slug
let replFiles

onMount(async () => {
  fetch(`/example-files/${slug}.json`)
    .then(async response => {
      if (response.ok) {
        replFiles = await response.json()
      }
    })
})
</script>

{#if replFiles}
  <REPLWrapper {replFiles} />
{/if}
