

<script context="module">
	export async function load({ page, fetch }) {
    if (page.path == '/examples') return { status: 200}
    const path = page.path
    const semiSlug = path.substring(path.lastIndexOf('/') + 1)
		const url = `/example-files/${semiSlug}.json`;
		const res = await fetch(url);

		if (res.ok) {
			return {
				props: {
          semiSlug: semiSlug,
					files: await res.json()
				}
			};
		}

		return {
			status: res.status,
			error: new Error(`Could not load ${url}`)
		};
	}
</script>

<script>
  // we could pass files to the slot here but passing props via slot doesn't yet work
  // https://github.com/sveltejs/kit/issues/2250
</script>
<slot></slot>