/* Write your global styles here, in PostCSS syntax */
@tailwind base;

/* global font styles */

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  @apply text-gray-700;
 }
 
 h1 {
   @apply text-xl sm:text-2xl font-sans font-semibold mt-8 mb-4 text-gray-900;
 }
 
 h2 {
   @apply text-lg sm:text-xl font-sans font-semibold mt-8 mb-4 border-b border-gray-400 text-gray-900;
 }
 
 h3 {
   @apply text-base sm:text-lg  font-sans font-semibold mt-1 mb-1 text-gray-900;
 }
 
 p {
   @apply mt-2 mb-3 text-sm sm:text-base;
 }
 
 strong {
   @apply font-semibold;
 }
 
 a {
   @apply underline;
   transition: color 0.75s;
 }
 
 a:hover {
   @apply text-red-600;
 }
 
 ul {
   @apply list-disc list-inside mb-2;
 }
 
 ol > li > ul {
   @apply ml-5;
 }
 
 li {
   @apply mb-1;
 }
 
 ul > li > ul {
   /* @apply list-circle list-inside ml-5; */
   @apply list-inside ml-5;
 }
 
 ol {
   @apply list-decimal list-inside;
 }
 
 /* code layout */
 
 code, code[class*="language-"], pre[class*="language-"] {
   @apply bg-gray-50 text-sm;
 }
 
 pre {
   @apply my-4 mx-0;
 }
 
 pre {
   padding: 1em;
   overflow: auto;
 }
 
 /* table layout */
 
 table {
   @apply mt-3 mb-3 table-auto border-collapse border-2 border-gray-500;
 }
 
 tr > th {
   @apply border border-gray-400 px-2 py-1;
 }
 
 tr > td {
   @apply border border-gray-400 px-2 py-1;
 }
 
 /* docs, gallery */
 .content {
   @apply flex flex-row;
 }
 
 .gallery {
   @apply flex flex-row;
 }
 
 .left-col {
   @apply w-48 border-r border-b border-gray-400 pr-4 whitespace-nowrap flex-none;
 }
 
 .right-col {
   @apply ml-6 flex-1 min-w-0;
 }
 
 /* main */
 
 .main-body {
   @apply bg-white px-4 mt-4 container mx-auto max-w-5xl;
 }
 
 .top-nav {
   @apply h-full py-2 px-4 border-b border-gray-200 bg-white container mx-auto max-w-5xl;
 }
 
 /* infoboxes */
 .callout {
   @apply bg-green-100 border-green-500 border-l-8 my-4 px-10 py-3 font-sans leading-snug;
 }

@tailwind components;
@tailwind utilities;
