<script>
  import { Graphic, Rectangle, RectangleLayer, XAxis, YAxis, x2, x2s } from '@snlab/florence'
  import { scaleLinear, scaleBand } from 'd3-scale'

  const x = [2002, 2004, 2006]
  const y = [20, 40, 10]

  const scaleX = scaleBand().domain(x).padding(0.5)
  const scaleY = scaleLinear().domain([0, Math.max(...y)])
</script>

<Graphic width={200} height={200} {scaleX} {scaleY} flipY padding={20}>

  <Rectangle 
    x1={2002}
    x2={x2(2006)}
    y1={0}
    y2={20}
    opacity={0.3}
  />

  <RectangleLayer
    x1={x}
    x2={x2s(x)}
    y1={Array(x.length).fill(0)}
    y2={y}
  />
  
  <XAxis />
  <YAxis />
  
</Graphic>