<script>
  import { Graphic, Section } from '@snlab/florence'
</script>

<Graphic width={400} height={400}>

    <Section
      x1={0}
      x2={0.5}
      y1={0}
      y2={1}
      backgroundColor={'purple'}
    >
    </Section>

    <Section
      x1={0.5}
      x2={1}
      y1={0}
      y2={1}
      backgroundColor={'orange'}
    >
    </Section>

</Graphic>